.user-main-container {
  display: flex; 
  width: 100vw;
  height: 100vh;
}

.user-left{
  width:15%;
  height: 95vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: space-between;
}

.user-left-title{
  display: flex;
  justify-content: center;
  width:100%;
}

.user-left-div{
  display: flex;
  flex-direction: column;
  gap:30px;
  position: absolute;
  top:100px;
}

.user-left button{
  width: 50%;
}

.user-center{
  width:60%; 
  height: 100vh;
  margin-top: 30px;
  display: flex;
  position: absolute;
  top:0;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border-right: 2px solid black; */
}
.user-right-container{
  width:100%;
  background: rgb(232, 225, 255);
}

.user-right {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top:15;
  right:0;
  margin-right: 10px;
}

.user-profile {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width:100%;
  height:70%;
  margin-top: 30px;
}

.user-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 28%; 
  padding: 20px;
  font-size: medium;
  border-radius: 20px;
  height: 58%;
  border: 1px solid #d1d9e6;
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-top: -10px;
  max-width: 400px;
}

.user-card-username{
  margin-top: -3px;
}

.patient-details {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width:100%; 
  height:40%;
  margin-top:-10px;
}

.patient-profile {
  margin-top: -20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.patient-profile h2 {
  font-size: 24px;
}

.patient-profile span {
  font-size: 14px;
  margin-top: -15px;
  margin-left: -2px;
}


.user-img-container img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  margin-top: -8px;
}

.activity-top {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 50%;
  padding: 20px;
  margin-top: -30px;
  margin-left: -20px;
  height:35%;
  border-radius: 15px;
}

.user-section {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  margin-bottom: -20px;
}

.calories-card {
  display: flex;
  width: 70%;
  height:30%;
  background-color: #fff;
  border-radius: 15px;
  padding: 20px;
  margin-right:80px;
  font-size:small;
  margin-top: -130px;
  margin-bottom: 50px;
  border: 1px solid #d1d9e6;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.card-title {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -15px;
  margin-bottom: -10px;
}

.card-title h4{
  margin-top:30px ;
}

.card-section-1,.card-section-2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:90%;
  height: 100%;
  font-weight: bold;
}

.card-section-1{
  border-right: 1px solid black;
}

.macro-details{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
}

.macro-details p{
    padding-right:15px;
}

.fats{
  margin-right: 14px;
}

.progress-bar {
  height: 8px;
  border-radius: 4px;
  background-color:lightgray;
  width: 34%; 
}

.progress-bar span {
  display: block;
  height: 100%;
  border-radius: 4px;
  margin-left:-10px;
}

.bmi {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:center;
  border: 1px solid #d1d9e6;
  padding: 20px;
  padding-bottom:70px;
  width:62%;
  height:40%;
  margin-left:70px;
  margin-right: auto;
  border-radius: 15px;
  background: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.bmi-circle {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  font-weight: bold;
  margin-top: -14px;
  color: black;
}

.bmi-normal {
  background-color: #87fc91; /* Green for BMI between 18-24 */
  color: white;
}

.bmi-high{
  background-color: rgb(250, 137, 31);
  color:white;
}


.bmi-det-div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  margin-top:-20px;
  gap: 40px; 
}



.bmi-l {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px; /* Increase gap between BMI title and value */
  margin-bottom: 25px;
}

.bmi-l h2 {
  margin: 0;
}

.bmi-r {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px; /* Increase gap between BMI categories */
} 

.bmi-r h5 {
  margin: 0;
}

.bmi-r span {
  font-size: 14px;
}

.appointments-container{  
  padding: 10px;
  position: absolute;
  display: flex;
  flex-direction: column;
  right:0px;
  top:0px;
  background-color: #f5f8ff;
  border-radius: 15px;
  margin-bottom: 20px;
  margin-top: -58px;
  width: 350px; 
  height:max-content;
}
.user-center{
  margin-left: 60px;
}
.calendar{
  display: flex;
  justify-content: center;
}

.calendar-container {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  height: max-content; 
  width: 320px; 
}


.calendar-container  h3{
  margin-top: -10px;
}


.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;  
  margin-top: -40px;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); 
  grid-gap: 5px;
  text-align: center;
  padding-bottom: 20px;
  margin-left: -10px;
}

.calendar-grid .calendar-days{
  width:250px;
}

.calendar-weekdays .calendar-days {
  font-weight: bold;
  width: 10%;
  color: #546e7a;
  width: 10px;
  
}

.calendar-days {
  padding: 5px;
  background-color: #ffffff;
  margin-top:-20px;
  width: 100%;
  border-radius:5px;
  color: #2c3e50;
}

.calendar-day.weekend {
  background-color: #fce4ec;
  color: #d32f2f;
  font-weight: bold;
}

.appointment-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  margin-top: 10px;
  width: 90%;
  margin-left: 3px;
  height: 70px; 
  border-radius: 10px;
<<<<<<< HEAD
  color:#464343; 
=======
  color: #ffffff;
>>>>>>> 51a2d1dc271acf418764c65151780b7c59a17a39
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.appointment-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 100%; /* Adjust to take full width */
}

.appointment-details h3 {
  margin: 0;
}

.appointment-details p {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.date-time-status {
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: 12px;
}


.recommendation-box {
  border: 1px solid #ddd;
  border-radius: 10px;
  padding:20px;
  width: 60%;
  height:80%;
  background-color: #fff;
  font-size: small;
  margin-top: -12px;
  margin-left: 15px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.recommendation-header {
  text-align: center;
  color: #333;
  margin-top: -25px;
}

.recommendation-content {
  display: flex;
  flex-direction: column;
  gap: 4px;
}


.icon-recommendation {
  display: flex;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  margin-top: -20px;
}

.icon-recommendation img {
  width: 40px;
  height: 40px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
}

.progress-bar p {
  margin-bottom: 5px;
}

.progress {
  height: 10px;
  border-radius: 5px;
  background-color: #e0e0e0;
}

.progress-value {
  height: 100%;
  border-radius: 5px;
}

.calendar-header{
  font-size: 14px;
  padding-top: 10px;
}

.calendar-header-day{
  margin-top: -10px;
}
.calendar-header select {
  padding: 10px;
  font-size: 14px;
  border-radius:12px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.calendar-header select:hover {
  background-color: #eaeaea;
}

.calendar-header select:focus {
  outline: none;
  border-color: #f994d7;
}
.appointments-button{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    border-radius: 10px;
    width:60%;
    margin:auto;
    color:white;
    border: none;
    background:#ee4d4d;
    font-size: 15px;
    margin-top:25px;
    cursor: pointer;
}

  