.doc-nav-Lcont{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:40px;
  width: 100%;
}
.doc-search-div{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:20px;
  position: relative;
  padding-bottom: 20px;
  width: 90%;
}
.main-top{
  display: flex;
  width: 100%;
  height: 100vh;
  gap: 90px;
  flex-direction: row;
}
.main-bottom{
  display: flex;
  flex-direction: row;
}
.whole-cont {
  display: flex;
  flex-direction: column; 
  /* background: linear-gradient(135deg, #E0EAFC, #CFDEF3); */
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh; 
  overflow: hidden; 
}
.input-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.doc-title{
  display: flex;
  justify-content: center;
  align-items: center;
}
.typed-anim-cont{
  display: flex;
  flex-direction: row;
}
.doc-greet-text{
  display: flex;
  position: static;
  flex-direction: column;
  top:20px;
  justify-content: center;
  
}
.logout-btn-div{
  display: flex;
  position: absolute;
  padding-left: 20px;
  padding-bottom: 20px;
  bottom: 0;
}
  .prof {
    display: flex;
    justify-content: center;
    position: relative;
    top:29px;
    left: 50px;
    align-items: center;
    border: 2px solid #e0e0e0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #f9f9f9;
    object-fit: fill;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}
#prof-2{
    width: 50px;
    height: 50px;
}
.other-btn-div{
  display: flex;
  flex-direction: column;
  padding-left: 40px;
  gap:30px;
}
.other-btn{
  background: none;
  border: none  ;
  border-radius: none;
  outline: none;
  /* border-bottom: 1px solid black; */

}
.doc-pat-count{
  display: flex;
  position: relative;
  top:10px;
  background: linear-gradient(135deg, #538cf7, #c2d7f6);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 10px 10px 10px  ;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  height: 170px;
  border-radius: 15px;
  color: #ffffff;
}
.other-btn:focus {
  outline: none;  
  border: none;   
  box-shadow: none; 
}
.other-btn:hover{
  color: rgb(238, 95, 23);
}
aside{
    display: flex;
    gap:40px;
    width: 20%;
    height: 560px;
}

main{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap:100px;
  height: 100vh;
}
.doc-greet{
  display: flex;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
  gap:140px;
  border-radius: 20px;
  color: white;
  background-color:rgb(79, 145, 250);
  left: 80px;
  top:10px;
  width: 60%;
  height: 28%;
}
  .toggle-prof-div{
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5); 
    display: flex; 
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px); 
    z-index: 1000; }
    .det-doc{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:40px;   
        border-radius: 20px;
        box-shadow: 0 8px 16px rgba(0, 0, 0, 0.15);  
        width: 30%;
        height: 70%;   
    }
  .main-content-DS{
    display: flex;
    margin-left: 40px;
    position: absolute;
    top:120px;
    width: 100%;
    height: 80vh;
  }
#doc-prof-btn{
    background: none;
    border: none;

}

  .welcome-div{
    display: flex;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    width: 100%;
    height: 100%;
  }
